*.box
.bundle/
.vagrant/
output-*/
packer_cache/
.*.swp
*.qcow2
*.iso
*.pyc
__pycache__
venv

# These files are all generated
boxen.json
# Fedora files
rawhide_x86_64.json
rawhide_silverblue.json
rawhide_ppc64le.json
??_x86_64.json
??_silverblue.json
??_ppc64le.json
?_x86_64.json
# Ubuntu files
??.04_amd64.json
??.10_amd64.json
