*.box
.bundle/
.vagrant/
output-*/
packer_cache/
.*.swp
*.qcow2
*.iso
*.pyc
__pycache__
venv

# These files are all generated
centos-*-x86_64.json
fedora-*-x86_64.json
ubuntu-*-amd64.json
debian-*-amd64.json
boxen.json
rawhide.json
rawhide_silverblue.json
rawhide_ppc.json
f??.json
f??_silverblue.json
f??_ppc.json
