[submodule "fedora/http/ks"]
	path = http/fedora/rawhide
	url = https://pagure.io/fedora-kickstarts.git
[submodule "fedora/http/f31"]
	path = http/fedora/f31
	url = https://pagure.io/fedora-kickstarts.git
	branch = f31
[submodule "fedora/http/f32"]
	path = http/fedora/f32
	url = https://pagure.io/fedora-kickstarts.git
	branch = f32
[submodule "http/fedora/f30"]
	path = http/fedora/f30
	url = https://pagure.io/fedora-kickstarts.git
	branch = f30
[submodule "http/centos"]
	path = http/centos
	url = https://git.centos.org/centos/kickstarts.git
	branch = master
[submodule "http/fedora/f33"]
	path = http/fedora/f33
	url = https://pagure.io/fedora-kickstarts.git
	branch = f33
