- name: remove cloud-init
  become: true
  package:
    name: cloud-init
    state: absent
  when: ansible_facts.pkg_mgr not in ['atomic_container']

- name: get build time
  shell: |
    set -ex -o pipefail
    date | sudo tee /etc/vagrant_box_build_time
  args:
    creates: /etc/vagrant_box_build_time

- name: create .ssh directory
  file:
    path: "{{ ansible_user_dir }}/.ssh"
    state: directory
    mode: "0700"

- name: fetch authorized_keys
  get_url:
    mode: "0600"
    dest: "{{ ansible_user_dir }}/.ssh/authorized_keys"
    url: https://raw.githubusercontent.com/hashicorp/vagrant/master/keys/vagrant.pub

- block:
    - name: configure sshd
      lineinfile:
        line: UseDNS no
        path: /etc/ssh/sshd_config

    - name: be sure that sshd is configured properly to accept the pubkey
      copy:
        content: PubkeyAcceptedKeyTypes +ssh-rsa
        mode: "0600"
        owner: root
        group: root
        dest: /etc/ssh/sshd_config.d/00-vagrant_accept_pubkey.conf

    - name: enable sshd
      service:
        name: sshd
        state: started
        enabled: true
  become: true
