- name: install guest additions
  hosts: all
  pre_tasks:
    - name: update all the things
      become: true
      package:
        name: "*"
        state: latest
      when: ansible_facts.pkg_mgr not in ['atomic_container']
  roles:
    - role: virtualbox
      when: lookup('env', 'PACKER_BUILDER_TYPE') == 'virtualbox-iso'
    - role: vmware
      when: lookup('env', 'PACKER_BUILDER_TYPE') == 'vmware-iso'
    - role: init
    - role: epel
    - role: locale
    - role: vagrant
    - role: cleanup
