name: Build

on:
  push: {}
  schedule:
    - cron: '29 23 * * 1'

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        target:
          - centos-6-x86_64-qemu
          - centos-7-x86_64-qemu
          - centos-8-x86_64-qemu
          - fedora-32-x86_64-qemu
          - fedora-33-x86_64-qemu
          - fedora-rawhide-x86_64-qemu
          - fedora-32-silverblue-qemu
          - fedora-33-silverblue-qemu
          - fedora-rawhide-silverblue-qemu
          #- fedora-32-ppc64le-qemu
          #- fedora-33-ppc64le-qemu
          #- fedora-rawhide-ppc64le-qemu
          - ubuntu-14.04-amd64-qemu
          - ubuntu-16.04-amd64-qemu
        packer_version:
          - "1.6.2"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: install dependencies
        shell: bash
        run: |
          set -e
          sudo apt-get update
          sudo apt-get install -y unzip python3-{virtualenv,yaml} cloud-utils qemu-system-{x86,ppc}
          # Install packer.io
          curl -O https://releases.hashicorp.com/packer/${{ matrix.packer_version }}/packer_${{ matrix.packer_version }}_linux_amd64.zip
          unzip packer_${{ matrix.packer_version }}_linux_amd64.zip
          mv packer packerio
          chmod +x packerio
      - name: try build
        shell: bash
        run: |
          set -e
          PATH=.:${PATH} make ${{ matrix.target }}.box
        env:
          VAGRANT_CLOUD_TOKEN: ${{ secrets.upload_token }}
