name: Build

on:
  push: {}
  schedule:
    - cron: '29 23 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - fedora-30-x86_64-qemu
          - fedora-31-x86_64-qemu
          - fedora-32-x86_64-qemu
          - fedora-31-ppc64le-qemu  # qemu 2.11 doesn't seem to support this
          - fedora-32-ppc64le-qemu
        packer_version:
          - "1.6.0"
        qemu_version:
          - "5.0.0"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: install dependencies
        shell: bash
        run: |
          set -e
          # Enable source repos for build-dep
          sudo sed -i '/deb-src/s/^# //' /etc/apt/sources.list
          sudo apt-get update
          # Install dependencies
          sudo apt-get build-dep -y qemu
          sudo apt-get install -y unzip python3-virtualenv cloud-utils
          # Install packer.io
          curl -O https://releases.hashicorp.com/packer/${{ matrix.packer_version }}/packer_${{ matrix.packer_version }}_linux_amd64.zip
          unzip packer_${{ matrix.packer_version }}_linux_amd64.zip
          mv packer packerio
          chmod +x packerio
      - name: download and install qemu
        shell: bash
        run: |
          set -e
          wget https://download.qemu.org/qemu-${{ matrix.qemu_version }}.tar.xz
          tar xvJf qemu-${{ matrix.qemu_version }}.tar.xz
          cd qemu-${{ matrix.qemu_version }}
          ./configure --target-list=ppc64,x86_64
          make
          sudo make install
      - name: try build
        shell: bash
        run: |
          set -e
          PATH=.:${PATH} make ${{ matrix.target }}.box
        env:
          VAGRANT_CLOUD_TOKEN: ${{ secrets.upload_token }}
